Progect/.terraform.lock.hcl
Progect/.terraform/
Progect/terraform.tfstate
Progect/terraform.tfstate.backup
Progect/terraform.tfvars

.env

django/homework/__pycache__/

Progect/.terraform.lock.hcl
Progect/.terraform/

Progect/terraform.tfvars

Progect/.terraform

Progect/.terraform*

