lesson-7/.terraform.lock.hcl
lesson-7/.terraform/
lesson-7/terraform.tfstate
lesson-7/terraform.tfstate.backup
lesson-7/terraform.tfvars

.env

django/homework/__pycache__/

lesson-7/.terraform.lock.hcl
lesson-7/.terraform/

lesson-7/terraform.tfvars

lesson-7/.terraform

lesson-7/.terraform*