aws_region           = "eu-central-1"
tf_state_bucket_name = "terraform-state-bucket-hordiyevskyy77"
tf_lock_table_name   = "terraform-locks"

vpc_cidr_block     = "10.0.0.0/16"
public_subnets     = ["10.0.1.0/24", "10.0.2.0/24", "10.0.3.0/24"]
private_subnets    = ["10.0.4.0/24", "10.0.5.0/24", "10.0.6.0/24"]
availability_zones = ["eu-central-1a", "eu-central-1b", "eu-central-1c"]
vpc_name           = "vpc"

ecr_name         = "lesson-7-ecr"
ecr_scan_on_push = true

github_username = "your_name"
github_token    = "github_pat_your_secrete_token"

jenkins_admin_username = "admin"
jenkins_admin_password = "my_password"

# RDS
rds_use_aurora            = false
rds_engine                 = "postgres"
rds_engine_version         = "17"
rds_parameter_group_family = "postgres17"
rds_instance_class = "db.t3.micro"
rds_multi_az              = false
rds_username              = "postgres"
rds_password              = "change-me"

django_secret_key = "change-me"

grafana_admin_password = "change-me"
